.toggle {
  display: flex;
  justify-content: space-between;
  background: var(--color-primary);
  border-radius: 1rem;
  position: relative;
  padding: 8px;
  cursor: pointer;
  gap: 0.2rem;
}

.toggle > * {
  width: 1rem;
  height: 1rem;
  color: var(--color-bg);
}

.toggle__button {
  border-radius: 100%;
  background: var(--color-bg);
  position: absolute;
}
